@media screen and (min-width: 640px) {
  body {
    width: calc(min(100vw, 210mm) - 10px); /* A4 is 210mm * 296mm */
    margin: 1em;
    border: 10px grey solid;
  }

  p {
    margin: 0.5em;
  }

  curriculum-vita-about-me {
    display: grid;
    justify-content: space-around;
    grid-template-areas: 'about-me application-photo application-photo';
  }

  curriculum-vita-about-me [name='about-me'] {
    grid-area: about-me;
  }

  curriculum-vita-about-me [name='application-photo'] {
    grid-area: application-photo;
  }

  curriculum-vita-about-me section[name='application-photo'] img {
    max-height: 100%;
    margin: initial;
  }
}
