@media print {
  @page {
    size: A4 portrait;
    margin: 0 auto;
    color-adjust: exact;
  }

  img[name='QR-code-to-webpage'] {
    display: inline-block;
    grid-area: qr-code;
    margin: auto;
    width: 75%;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }

  a[print-href]::after {
    content: ' (' attr(href) ')';
  }

  curriculum-vita-about-me {
    grid-template-areas: 'about-me qr-code application-photo';
    grid-template-columns: 2fr 1fr 1fr;
  }

  curriculum-vita-section {
    page-break-inside: avoid;
    /* HACK for adding "2cm margin-top after page break" */
    padding-top: 2cm;
    margin-top: -2cm;
  }
}
