.pageContainer {
  padding: 16px;
  background-color: var(--cv-bg-color);
  color: var(--cv-color);
}

section.header {
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background-color: var(--cv-bg-color-secondary);
}

h1 {
  font-size: 24px;
  color: var(--cv-color-heading);
  margin: 0;
}

h2 {
  text-align: center;
  color: var(--cv-color-heading);
  margin: 8px 0;
}

h3 {
  margin: 0;
}

.contentFirstColumn h2:first-of-type {
  margin-top: 0;
}

h1 {
  background-color: var(--cv-bg-color-secondary);
}

h2 {
  border-bottom: 2px solid var(--cv-bg-color-secondary);
}

p {
  margin: 4px 8px;
}

.printOnly {
  display: none;
}

cv-application-photo button {
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  border: 0;
  background-color: var(--cv-action-color);
}
cv-application-photo button .icon {
  font-weight: bold;
}
cv-application-photo img {
  display: block;
  margin: auto;
  margin-top: 8px;
  max-width: 100%;
  max-height: 360px;
  transition: max-height 1.5s ease-in-out;
}
cv-application-photo img.hidePhoto {
  max-height: 0;
}

cv-content-entry {
  display: block;
  margin: 8px;
}