.pageContainer {
  padding: 16px;
  background-color: white;
}

section.header {
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(191, 238, 247);
}

h1 {
  font-size: 24px;
  color: rgb(49, 132, 155);
  margin: 0;
}

h2 {
  text-align: center;
  color: rgb(49, 132, 155);
  margin: 8px 0;
}

.contentFirstColumn h2:first-of-type {
  margin-top: 0;
}

h1 {
  background-color: rgb(191, 238, 247);
}

h2 {
  border-bottom: 2px solid rgb(191, 238, 247);
}

h3 {
  margin: 0;
  color: rgb(10, 20, 36);
}

p {
  margin: 4px 8px;
}

.printOnly {
  display: none;
}

cv-application-photo button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(49, 132, 155);
  background-color: rgb(191, 238, 247);
}
cv-application-photo button .icon {
  font-weight: bold;
}
cv-application-photo img {
  display: block;
  margin: auto;
  margin-top: 8px;
  max-width: 100%;
  max-height: 360px;
  transition: max-height 1.5s ease-in-out;
}
cv-application-photo img.hidePhoto {
  max-height: 0;
}

cv-content-entry {
  display: block;
  margin: 8px;
}