@page {
  size: A4 portrait;
  margin: 32px 0;
}

body {
  background-color: white;
}

h1, h2, h3 {
  break-after: avoid;
}
h1 {
  margin-top: -8px;
}

.printOnly {
  display: block;
}

.qrCode img {
  max-width: 100%;
}
.qrCode p {
  margin-top: -16px;
  text-align: center;
}

cv-application-photo button {
  display: none;
}