@page {
  size: A4 portrait;
  margin: 32px 0;
}

.pageBreakAfterHobbysSection {
  display: block;
  page-break-after: always;
}
.pageBreakAfterHobbysSection section[slot="entries"] {
  padding-bottom: 72px; /* empirical gathered value to extend separation line to page bottom  */
}

body {
  background-color: white;
}

.printOnly {
  display: block;
}

.qrCode img {
  max-width: 100%;
}

.qrCode p {
  margin-top: -16px;
  text-align: center;
}

cv-application-photo button {
  display: none;
}

.theme-switcher {
  display: none;
}
