body {
  --cv-bg-color: rgb(255, 255, 255);
  --cv-bg-color-secondary: rgb(191, 238, 247);
  --cv-bg-color-out-of-scope: rgb(0, 0, 0);

  --cv-color: rgb(0, 0, 0);
  --cv-color-heading: rgb(49, 132, 155);

  --cv-action-color: rgb(115, 218, 255);
}

body.dark {
  --cv-bg-color: rgb(32, 32, 32);
  --cv-bg-color-secondary: rgb(92, 145, 155);
  --cv-bg-color-out-of-scope: rgb(0, 0, 0);

  --cv-color: rgb(255, 255, 255);
  --cv-color-heading: rgb(51, 109, 151);

  --cv-action-color: rgb(35, 139, 177);
}
body.dark h1 {
  --cv-color-heading: rgb(32, 42, 76);
}