main h2:first-of-type {
  margin-top: 0;
  padding-top: .5rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem 0 .5rem 0;
  border-bottom: 2px solid var(--color-line);
}

.generic-data {
  .personal-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;

    & h2 {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    .data-container {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: 2;
    }

    & img {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;

      margin-inline: auto;
      max-height: 8rem;
      margin-top: .25rem;
    }
  }
}

.stages {
  .stage {
    margin-bottom: 1.5rem;

    .stage-from-to h3 {
      margin-bottom: .125rem;
      line-height: 1.33rem;
    }

    .stage-title h3 {
      line-height: 1.33rem;
      margin-top: .125rem;
    }
  }
}
